<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PushApi" type="KylinPushService.ConfigManager.PushApiConfigManager,KylinPushService"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <!--
    * Redis服务器连接配置信息，相关配置项及说明查看StackExchange.Redis的官方文档
    * 参考网址：https://github.com/StackExchange/StackExchange.Redis/blob/master/Docs/Configuration.md
    -->
    <add key="RedisConfiguration" value="139.129.194.132:6399,password=kylinjonfee++"/>
    <!--
    *
    * 上门/预约相关消息推送
    *
    -->
    <!--Redis服务器数据库中，保存上门预约相关消息推送数据队列的数据库位置索引号，一般为0－16，具体存储位置取决于数据存储时给定的位置-->
    <add key="RedisAppointDbIndex" value="1" />
    <!--Redis中上门订单下单后的消息数据存储的Key-->
    <add key="RedisKeyAppointShangMenCreate" value="ShangMen" />
    <!--Redis中预约订单下单后的消息数据存储的Key-->
    <add key="RedisKeyAppointYuYueCreate" value="YuYue" />
    <!--Redis中上门预约订单指派后的消息数据存储的Key-->
    <add key="RedisKeyAppointAllot" value="OrderAllot"/>
    <!--Redis中上门预约订单被接单后的消息数据存储的Key-->
    <add key="RedisKeyAppointAccept" value="OrderAccept" />

    <!--
    *
    * 限时福利相关消息推送
    *
    -->
    <!--Redis服务器数据库中，保存限时福利相关消息推送数据队列的数据库位置索引号，一般为0－16，具体存储位置取决于数据存储时给定的位置-->
    <add key="RedisWelfareDbIndex" value="1" />
    <!--Redis中限时福利中奖消息数据存储的Key-->
    <add key="RedisKeyWelfareLotteryResult" value="WelfareLottery"/>
  </appSettings>
  <PushApi>
    <ModuleID>T003</ModuleID>
    <Secret>3d16024f-d7fb-4f64-b0f1-72d0112671ea</Secret>
    <Api name="ShangMenCreate" url="http://139.129.194.132:9109/v1/appoint/pushshangmen" method="post" />
    <Api name="YuYueCreate" url="http://139.129.194.132:9109/v1/appoint/pushyuyue" method="post" />
    <Api name="OrderAllot" url="http://139.129.194.132:9109/v1/appoint/allot" method="post" />
    <Api name="OrderAccept" url="http://139.129.194.132:9109/v1/appoint/accept" method="post" />
    <Api name="WelfareLottery" url="http://139.129.194.132:9109/v1/welfare/lottery" method="post" />
  </PushApi>
</configuration>
